/* ========== VARIABLES ========== */
:root {
    --color-green: #4a8a33;
    --color-green-light1: #b1c795;
    --color-blue: #177899;
    --color-blue-light1: #4fa9bd;
    --color-blue-light2: #bbd4d9;
    --color-brown: #6f403e;
    --color-brown-light: #997468;
    --color-red: #c22929;
    --color-red-light: #d44848;
    --color-white: #fff;
    --color-black: #090909;
    --color-grey1: #272727;
    --color-grey2: #5f5f5f;

    --font-heading: 'Montserrat', sans-serif;
    --font-default: 'Work Sans', sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
    font-family: var(--font-default);
    min-height: 100vh;
    line-height: 1.6;
    color: var(--color-black);
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    background: url("../images/musical-notes-bg.jpg") repeat;
    /*background-size: contain;*/
}


/* ========== HEADINGS ========== */
h1,
h2,
h3 {
    font-family: var(--font-heading);
    color: var(--color-brown);
}

h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid var(--color-brown);
}

/* ========== MAIN CONTENTS ========== */
.container {
    width: calc(100% - 4rem);
    max-width: 960px;
    min-height: calc(100vh - 8rem);
    height: calc(100vh - 8rem);
    margin: 4rem auto;
    padding: 2rem;
    background: var(--color-white);
    border: 1px solid var(--color-brown-light);
    box-shadow: 0px 0px 15px 0px var(--color-brown);
}

#content {
    height: calc(100% - 8rem);
    padding-top: 3rem;
    text-align: center;
}

#content p {
    margin-bottom: 5%;
}

.time {
    width: 4rem;
    margin-left: 1rem;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    color: var(--color-black);
}

.sec {
    margin-left: .5rem;
    font-size: 1.2rem;
    display: inline-block;
}

.message {
    border-radius: 24rem 6rem 20rem 4rem / 3rem 20rem 3rem 20rem;
    border: .3rem solid var(--color-red);
    background: var(--color-red-light);
    display: inline-block;
    padding: .5rem 2rem;
    color: var(--color-white);
}

.correct-ans {
    color: var(--color-red);
    font-weight: 500;
}

.result {
    margin: 0 auto 4rem;
    border-collapse: collapse;
}

.result th,
.result td {
    padding: 1rem 3rem;
    border: 1px solid var(--color-grey2);
}

.result th {
    background: var(--color-blue-light2);
}

.result td {
    font-weight: 500;
}


/* ========== BUTTONS ========== */
.btn {
    margin: 2rem auto;
    padding: 1.5rem 3rem;
    display: block;
    font-size: 2.5rem;
    color: var(--color-white);
    border-radius: .5rem;
    transition: background-color .3s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-start {
    transform: translateY(10rem);
    background-color: var(--color-blue);
}

.btn-start:hover,
.btn-start:focus {
    background-color: var(--color-blue-light1);
}

.btn-restart {
    /*display: none;*/
    background-color: var(--color-blue);
}

.btn-restart:hover,
.btn-restart:focus {
    background-color: var(--color-blue-light1);
}

.btn-answer {
    width: 80%;
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-blue);
    border: 1px solid var(--color-blue-light2);
    background: var(--color-blue-light2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-blue-light2) 0%, var(--color-white) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-blue-light2) 0%, var(--color-white) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-blue-light2) 0%, var(--color-white) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    cursor: pointer;
    transition: background .3s;
    border-radius: 3px;
}

.btn-answer:hover,
.btn-answer:focus {
    color: var(--color-green);
    border: 1px solid var(--color-green-light1);
    background: var(--color-green-light1); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-green-light1) 0%, var(--color-white) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-green-light1) 0%, var(--color-white) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-green-light1) 0%, var(--color-white) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.btn-answer:not(:last-child) {
    margin-bottom: 1rem;
}


@media screen and (min-width: 641px) {
    /* width: 641px to 768px */
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }

    .container {
        padding: 4rem;
    }
}